.card {
  background: lightgray;
  color: lightslategray;
  margin: 1em;
  width: 10em;
  padding: 0.5em;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: lightslategrey;
  align-items: center;
  padding: 1.2em;
}
a {
  all: unset;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}
nav a {
  font-size: 20px;
}
/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media screen and (max-width: 320px) {
  nav a {
    font-size: 5px;
  }
}
